body{
    margin-top: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}
.topcontainer{
    background-color: #EAF6F6;
    position: relative;
    /*turn on i fits absolute in clouds section*/
    padding-top: 180px;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
    position: absolute;
    width: 100%;
    height: 18%;
    background-color: #66BFBF;
    padding: 10px 0 20px;
}
h1{
    color: #66BFBF;
    font-size: 5.625rem;   
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2{
    
    color: #66BFBF;
    font-weight:bold;
    font-size:2.5rem;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.bottom_cloud{
    position: absolute;
    height: 150px;
    left:380px;
    bottom: 300px;

}
.top_cloud{
    position: absolute;
    height: 200px;
    right: 380px;
    top: 100px;
}
/*.top_cloud{
    position: relative;
    height: 200px;
    left: 450px;
    top: 80px;
}
.bottom_cloud{
    position: relative;
    height: 150px;
    left:-50px;
    bottom: 300px;
}*/
.prog{
    font-size: 1.7rem;
    position: relative;
    left: 0px;
    bottom: 35px;
    }
.mountain{
    position: relative;
    left: px;
    }
.pro{
    text-decoration: underline;
    }
.pro:hover{
    color:darkgreen;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
} 
a:hover{
    color: #EAF6F6;
}
hr {
    border: dotted #bceeee 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto 100px auto ;
}
.skill-row-design{
    text-align: left;
    line-height: 2;
    margin: 70px auto 100px auto;
    width: 50%; 
    padding-bottom: 5%; 
    }
.skill-row-code{
    text-align: left;
    line-height: 2;
    margin: 20px auto 90px auto;
    width: 50%;  
    }
.code-img{
    margin-left: 30px;
    width: 25%;
    float: right;
    }
.design-img{
    margin-right: 30px;
    width: 25%;
    float: left;
    }
.profile-img{
    margin: 0px auto 10px auto;
    width: 15%;
    }
.desc1 {
    font-size: 20px;
    color: #40514E;
    margin: 10px auto 100px auto;
    width: 50%;  
    }
.thx {
    color: #40514E;
    margin: -10px auto 0px auto;
    width: 50%;  
    }
.thoughts{
    color: #40514E;
    margin: 40px auto 40px auto;
    width: 50%;  
    }
.btn{
    margin:100px auto;
}
.love{
    font-size: medium;
    margin-bottom: 50px;
}
.social-media{
    color: #EAF6F6;
    word-spacing: 35px;
    margin-top: 60px;
}
a{
    color: #11999E;
}
.copyright{
    text-decoration: solid;
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
